# Ignorar node_modules
backend/node_modules/
frontend/node_modules/

# Archivos de registro
*.log

# Directorio de caché
*.cache/

# Archivos temporales
*.tmp
.tmp.
*.temp

# Archivos de configuración de editores
*.swp
*.swo
*.swn
*.bak

# .DS_Store (para usuarios de Mac)
.DS_Store

# .env (donde guardas variables de entorno)
.env

# Carpetas de distribución / construcción
backend/dist/
frontend/dist/
frontend/build/

# Archivos de configuración IDE específicos (por ejemplo, para VSCode)
.vscode/