/* Establecer Montserrat como la fuente predeterminada */
body, h1, h2, h3, h4, h5, h6, p, button, input {
	font-family: 'Montserrat', sans-serif;
  }
  
  /* Estilos para el contenedor general */
  .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f2f2f2;
  }
  
  .container-logged-in {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	background-color: #f2f2f2;
  }
  
  /* Estilos para el formulario de inicio de sesión */
  .login-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .login-input {
	margin: 10px;
	padding: 10px;
	width: 200px;
  }
  
  .login-button {
	margin: 10px;
	padding: 10px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
	border: none;
	border-radius: 4px;
  }
  
  /* Estilos para el Dashboard */
  .dashboard {
	position: relative;
	width: 100%;
	top: 0;
  }
  
  .navbar {
	display: flex;
	justify-content: space-between;
	background-color: #007bff;
	color: white;
	padding: 15px;
	width: 100%;
  }
  
  .logout-button {
	background-color: #f00;
	color: white;
	padding: 10px;
	border: none;
	cursor: pointer;
  }
  
  .image-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	padding: 20px;
  }
  
  .gallery-image {
	max-width: 200px;
	cursor: pointer;
  }
  
  /* Estilos para ImageModal */
  .modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
	position: relative;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	width: 100%;
  	max-width: 95%;
  	max-height: 95vh;
	display: flex;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
  }

  .modal-content img {
	object-fit: contain;
	margin: 0 auto;  /* Añadido para centrar la imagen */
	max-width: 60%;  /* Ajustado para dejar espacio para el botón y márgenes */
	max-height: 100%;
  }
  
  .close {
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
	font-size: 24px;
  }
  
  .modal-image {
	width: auto;
	height: auto;
	max-width: none;
	max-height: none;
	transform: scale(2);
  }
  
  /* Estilos para la barra vertical de compartir */
  .share-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 30%;  /* Ajustado para llenar el espacio restante */
  }

  button {
	margin-top: 10px;
	background-color: #007bff;
	color: white;
	padding: 10px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
  }

  .create-link-button {
	background-color: #007bff;
	color: #ffffff;
	padding: 12px 24px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
  }
  
  .create-link-button:hover {
	background-color: #0056b3;
  }